<div class="row container">
    <div class="col-6" style="height: 658px; width: 200px; margin-top: 1px; background-color: rgb(77, 218, 218);">
        <a style="text-decoration: none;" routerLink="/home">
            <h4 style="color: white; padding-top: 50px;  ">home</h4><br>
        </a>
        <a style="text-decoration: none;" routerLink="/userlist">
            <h4 style="color: white;" >User</h4>
        </a>
    </div>
    <div class="col-6 container" style="text-align: center; margin-top: 300px;">
        <h1 style="font-size:xx-large; font-weight: bolder;">WELCOME TO EMPLOYEE PORTAL</h1>
    </div>
</div>